.container {
			width: 960px;
			margin: 0 auto;



		}
		body {
			background: #FFF1D6;
			font-family: "Lucila Grande", "Lucila Sans Unicode", Verdana, sans-serif;
			line-height: 1.6;

			background: #f85032; /* Old browsers */
			background: -moz-linear-gradient(top,  #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */


		}

		.place {
			background: #FFF;
			border: 1px solid #CCC;
			border-color: #CCC #999 #999 #CCC;
			margin-bottom: 20px;
			padding: 10px;
		}

		.place h2 {
			border-bottom: 1px dashed  #7E9F19;
			margin: 0;
		}
		.place img {
			border: 1px solid #7E9F19;
			float: left;
			margin: 10px 10px 0 0;
			padding: 2px;
		}

		.place a {
			color: #2C88A7;
			font-weight: bold;
		}
		h1 a {
			color: #7E9F19;
			text-decoration: none;
		}
		h1 a:hover {
			background-color: #7E9F19;
			color: #FFF;
		}
		.clear {
			clear: both;
		}
		.footer {
			font-size: 12px;
			text-align: center;
		}
		.sidenote {
			background-color: #FFFBE4;
			border: 1px solid #C9BC8F;
			padding: 10px;
			float: right;
			padding: 10px;
			width: 260px;
		}
		
		.sidenote h3 {
			font-size: 14px;
			margin-top: 0;
		}

		.sidenote ol  {
			font-size: 12px;
		}
		.places {
			float: left;
			width: 660px;
		}